   h1 {
       color: blue;
   }

   .logo {
     top:0px;
     left:0px;
     width: 200px;
     height: 350px;
     background-image: url('logo.png');
     background-repeat: no-repeat;
     background-position: left bottom ;
     position:absolute;
   }
